.new-card {
  position: relative;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #333;
  padding: 20px;
}

.new-card img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0; right: 0;
  border-radius: 100%;
  margin: 5px 5px 0 0;
}

.bg-grey {
  background-color: #E9F1F7;
}

.users-slider {
  div {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: 5px;
}

.slick-prev {
  left: -5px;
}
