<%= form_for ([@group, @comment], remote: true) do |f| %>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.text_field :content, placeholder:"Write your comment here", class: "form-control", label: false %>
    </div>
  </div>
</div>
<% end %>
