<div class="category-header">
  <h1>Search results</h1>
</div>
<div class="groups-containter">
  <div class="groups-index">
      <% @groups.each do |group| %>
        <%= link_to group_path(group)  do %>
          <div class="group">
            <div class="group-pic">
              <%= cl_image_tag (group.photo), class:"group-img" %>
            </div>
            <div class="group-info">
              <h3><%= group.title %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

  <%= link_to 'Back', root_path, class: "btn btn-default" %>
