<footer class="page-footer">
  <div class="page-footer-inner">
    <div class="four-spaced">
      <div class="block block-footer four-item">
        <h4 class="block-title">The Lnkup</h4>
        <div class="block-body">
          <div class="list list-footer">
            <div class="list-item">
              <p>Features</p>
            </div>
            <div class="list-item">
              <p>Whatsapp</p>
            </div>
            <div class="list-item">
            <p>Web Whatsapp</p>
            </div>
          </div>
        </div>
      </div>
      <div class="block block-footer four-item">
        <h4 class="block-title">Company</h4>
        <div class="block-body">
          <div class="list list-footer"">
            <div class="list-item">
              <p>About</p>
            </div>
            <div class="list-item">
              <p>Careers</p>
            </div>
            <div class="list-item">
              <p>Blog</p>
            </div>
          </div>
        </div>
      </div>
      <div class="block block-footer four-item">
        <h4 class="block-title">Help</h4>
        <div class="block-body">
          <div class="list list-footer"">
            <div class="list-item">
              <p>FAQ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="block block-footer four-item">
        <h4 class="block-title">Contact</h4>
        <div class="block-body">
          <div class="list list-footer"">
            <div class="list-item">
              <p>Come drink coffee with us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
