.category-header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #D0E9EA;
  padding: 20px;
}

.groups-index {
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
  a {
    text-decoration: none;
  }
}

.group-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.group {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  transition: all .5s ease-in-out

  h3{
    margin-top: 5px;
    color: #0D1321;
  }
}

  .group:hover { transform: scale(1.03); }

.group-info {
  margin-left: 20px;
  padding: 0px 10px;
  text-decoration: none;
  color: black;
  border-radius: 2%;
  background-color: #DEF2C8;
  width: 100%;

}

.group-members {
  font-size: 11px;
}

.category-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FAF7EB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: flex;
  justify-content: center;
}

.cat-img {
  width: 60%;
}


