.img-circle{
  width: 250px;
  height: 250px;
  margin-left: 45px;
  margin-top: 10px;
}

#new-group label{
  width: 120px;
}

label {
  width: 20%;
}

#upload-head {
  margin-bottom: 40px;
  h3 {
    text-align: center  }

}
