.group-profile{
  margin: 10px;
  background-color: #eeeeee;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}

.profile-picture img {
  border-radius: 50%;
  padding: 10px;
}

.btn-join {
  color: #fff;
  background-color: #8bd3d7;
  border-color: #8bd3d7;
  text-decoration: none;
  margin-top: 20px;
}

.btn-join:hover {
  color: #fff;
  background-color: #76c8a9;
  transition: 200ms ease-in;
  border-color: transparent;
  text-decoration: none;
}

.btn-reject {
  color: #fff;
  background-color: #A64253;
  border-color: #A64253;
  text-decoration: none;
  margin-top: 20px;
}

.btn-reject:hover {
  color: #fff;
  background-color: #AF1B3F;
  border-color: #AF1B3F;
  transition: 200ms ease-in;
  border-color: transparent;
  text-decoration: none;
  margin-top: 20px;
}

.new-card {
  position: relative;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-card img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0; right: 0;
  border-radius: 100%;
  margin: 5px 5px 0 0;
}

.new-card .actions {
  display: flex;
  justify-content: space-around;
}

.profile-container{
  display: flex;
}

.bubble {
position: relative;
width: 281px;
height: auto;
padding: 7px;
margin-bottom: 5px;
background: #e6fece;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after {
content: '';
position: absolute;
border-style: solid;
border-width: 7px 11px 7px 0;
border-color: transparent #e6fece;
display: block;
width: 0;
z-index: 1;
left: -11px;
top: 57px;
}

.bubble-text {
  width: 236px;
}

.bubble-text-color {
  color: #797D81;
}

.actions {
  border-top: 1px solid #AAAAAA;
}

.form-group {
  display: flex;
}

#comments {
margin-bottom: 50px;
}

.btn-login {
  color: #99C24D;
  background-color: transparent;
  border-color: #99C24D;
}

.btn-login:hover {
  color: #fff;
  background-color: #99C24D;
  transition: 200ms ease-in;
  border-color: transparent;

}
