.page-footer {
  color: white;
  background-color: #273443;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
}

.block-title {
  color: #797D81;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-weight: 600;
}
