.form-inputs {
  background-position: right -28px;
  font-size: 16px;
}

.btn-signup {
  color: #99C24D;
  background-color: transparent;
  border-color: #99C24D;
}

.btn-signup:hover {
  color: #fff;
  background-color: #99C24D;
  transition: 200ms ease-in;
  border-color: transparent;
}

.signupp {
  text-decoration: none;
  float: left;
  display: inline-block;
  margin-right: 4px;
  line-height: 34px;
  font-size: 16px;
}


