
<!-- search & explore -->
<div class="header">
  <div class="explore">
    <h2>Find your group</h2>
  </div>
  <div class="cell">
    <%= form_tag groups_path, method: "get" do %>
    <div class="searchbar">
      <input name="search" type="search" type="text" class="btn-extended" placeholder="search for a group" />
      <div class="btn-search"></div>
    </div>
    <% end %>
  </div>
</div>

<!-- categories -->
<div class="categories">
  <div class="row">
    <% @categories.each do |category| %>
    <div class="col-sm-6 col-md-4">
      <div class="category">
        <div class="category-img-container">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <%= link_to category_groups_path(category) do %>
                <div class="category-img">
                  <%= image_tag (category.photo), class:"cat-img" %>
                </div>
              </div>
              <div class="back">
                <div class="category-img">
                  <h3> <%= category.name %></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

